{% extends '../base.html' %} {% block content %}

<div class="container max-w-5xl mx-auto">
	<h1 class="text-2xl font-bold">Auctions List for the year {{auctions.year}}</h1>
	{% if auctions %}
		<div class="grid grid-cols-4 gap-4">
			{% for auction in auctions %}
			<div
			class="shadow-lg rounded-xl bg-blue-500 w-full md:w-64 p-6 bg-white relative overflow-hidden m-2"
			>
			<p class="text-black text-xl">{{auction.number}}</p>
			<div class="flex items-center my-4 text-blue-500 rounded justify-between">
				<span class="rounded-lg p-2 bg-white">
					<i class="fa fa-calendar"></i>
				</span>
				<div class="flex flex-col w-full ml-2 items-start justify-evenly">
				<p class="text-black text-lg">{{auction.date}}</p>
				<p class="text-blue-200 text-sm">{{auction.allocations}}</p>
				{{auction.date}}
				</div>
			</div>
			<div class="flex items-center text-blue-500 rounded justify-between">
				<span class="rounded-lg p-2 bg-white">
					<i class="fa fa-calendar"></i>
				</span>
				<div class="flex flex-col w-full ml-2 items-start justify-evenly">
				<p class="text-black text-lg">{{auction.year}}</p>
				<p class="text-blue-200 text-sm">Your delivery</p>
				</div>
			</div>
			<div class="mt-4">
				<a href="/auction/{{auction.year}}/{{auction.number}}/">
					<button
					type="button"
					class="py-2 px-4 bg-blue-700 hover:bg-blue-800 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
					>
					Open Auction
					</button>
				</a>
			</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h1>No Data</h1>
	{% endif %}
</div>

{% endblock content %}
