{% extends '../base.html' %} {% block content %}

<div class="container max-w-6xl mx-auto">
	<h1 class="text-2xl font-bold text-center mb-4">Auctions List for the year {{year}}</h1>
	{% if auctions %}
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 px-4 md:px-2 lg:px-0">
			{% for auction in auctions %}
			<div
			class="shadow-lg rounded-xl bg-blue-500 w-full w-auto p-6 relative overflow-hidden"
			>
			<p class="text-white text-xl">{{auction.number}}</p>
			<div class="flex items-center my-4 text-blue-500 rounded justify-between">
				<span class="rounded-lg p-2 bg-white w-8 h-8 flex align-center content-center">
                    <i class="fa fa-calendar"></i>
				</span>
				<div class="flex flex-col w-full ml-2 items-start justify-evenly">
				<p class="text-white text-lg">Starting date: <strong>{{auction.date}}</strong></p>
				</div>
			</div>
			<div class="flex items-center text-blue-500 rounded justify-between">
				<span class="rounded-lg p-2 bg-white w-8 h-8 flex align-center content-center">
                    <i class="fa fa-window-close"></i>
				</span>
				<div class="flex flex-col w-full ml-2 items-start justify-evenly">
					<p class="text-white text-lg">Catalogue closing date: <strong>{{auction.closing_date}}</strong></p>
				</div>
			</div>
			<div class="flex items-center text-blue-500 rounded justify-between">
				<span class="rounded-lg p-2 bg-white w-8 h-8 flex align-center content-center">
                    <i class="fas fa-dollar-sign"></i>
				</span>
				<div class="flex flex-col w-full ml-2 items-start justify-evenly">
					<p class="text-gray-100 text-sm">Prompt date: <strong>{{auction.prompt_date}}</strong></p>
				</div>
			</div>
			<div class="mt-4">
				<a href="/auctions/{{auction.year}}/{{auction.number}}/">
					<button
					type="button"
					class="py-2 px-4 bg-blue-700 hover:bg-blue-800 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
					>
					Open Auction
					</button>
				</a>
			</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h1>No Data</h1>
	{% endif %}
</div>

{% endblock content %}
