{% block content %}
{% if update == True %}
    <span class="w-48 relative bg-gray-300 h-0.5 block my-2"></span>
    <h2 class="mt-4 mb-2 text-gray-700">Update Status</h2>
    <div class="relative">
        <p class="block relative text-sm rounded-md bg-gray-700 text-white px-6 py-2 mb-1">Update pending</p>
        <p class="block relative text-sm text-left text-gray-500"><i class="fas fa-exclamation-circle mr-1"></i>Update using Source Control from VSCode</p>
        <script>
            $(function(){
                let update_badge = ' <div class="inline-flex absolute -top-2 -right-2 justify-center items-center w-6 h-6 text-xs font-bold text-white bg-red-500 rounded-full border-2 border-white dark:border-gray-900">1</div>'
                $('.notification-icon').append(update_badge);
            });
        </script>
    </div>
{% else %}
    <span class="w-48 relative bg-gray-300 h-0.5 block my-2"></span>
    <h2 class="mt-4 mb-2 text-gray-700">Update Status</h2>
    <div class="relative">
        <p class="text-sm w-48 rounded-md bg-gray-700 text-white px-4 py-2 text-center">Application up to date</p>
    </div>
{% endif %}
{% endblock content %}